.advantages {
  background-color: $blue-pale;
  padding: 50px 0 90px;

  &__header {
    text-align: center;
    line-height: 55px;
    margin-bottom: 60px;
  }

  &__wrapper {
    max-width: 1446px;
  }
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child){
      min-width: 321px;
    }
  }

  &__wrapper {
    height: 80px;
    width: 80px;
    border: 1px solid #D7E1E9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  &__description {
    font-family: $font-main;
    font-weight: 600;
    @include font( 20px, 26px);
    color: #1A1B20;
  }
}