.tourism {
  background-color: #F9FBFF;
  @media screen and (max-width: $tablet) {
    background-color: $white;
  }

  &__container {
    padding: 50px;
    @media screen and (max-width: $tablet) {
      padding: 31px 0 50px;
    }
  }

  &__form {
    max-width: 1072px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 32px rgba(123, 139, 181, 0.2);
    overflow: visible;
    @media screen and (max-width: $tablet) {
      width: 100%;
      box-shadow: none;
    }
  }
}

.touristic {
  padding: 50px 31px;
  @media screen and (max-width: $tablet) {
    padding: 0;
  }

  &__header {
    @include font(48px, 48px);
    text-align: center;
    margin-bottom: 40px;
    color: $blue-dark;
    @media screen and (max-width: $tablet) {
      @include font(36px, 36px);
      margin-bottom: 33px;
    }
  }

  &__input{
    padding: 13px 21px 13px 16px;
    border-radius: 6px;
    border: 1px solid #D7E1E9;
    @include font(16px, 19px);
    font-family: $font-main;
    font-weight: normal;
    color: $gray-blue;
    max-height: 46px;
    margin-top: 5px;
  }

  &__trip {
    margin-bottom: 29px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__tourists {
    margin-bottom: 32px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__add {
    margin: 0 auto;
    margin-bottom: 24px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__result {
    margin: 0 auto;
    display: block;
    background-color: $orange;
    border: none;
    width: 410px;
    height: 60px;
    &:hover{
      background-color: $orange-active;
    }
    & >span{
      color: $white;
    }
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      & >span {
        @include font(14px, 14px);
      }
    }
  }  
}

.trip {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  &__param {
    font-family: $font-main;
    @include font(16px, 26px);
    color: $blue-dark;
    font-weight: 600;
    margin-top: -4px;
  }
}

.direction {
  display: flex;
  flex-direction: column;
  width: 54.9%;
  @media screen and (max-width: $tablet) {
    width: 100%;
    margin-bottom: 26px;
  }

  &__ways {
    display: flex;
    margin-top: 5px;
    @media screen and (max-width: $tablet) {
      margin-top: 10px;
    }
  }

  &__example {
    color: #8D94A4;
    @include font(14px, 23px);
    font-family: $font-main;
    font-weight: normal;
    margin-right: 9px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-top: 1px;
    >span{
      font-family: $font-main;
      font-weight: normal;
      color: $blue;
      @include font(14px, 14px);
      cursor: pointer;
      text-decoration: underline;
      text-underline-position: under;
    }
    
    &:not(:last-child){
      margin-right: 12px;
    }
  }
}

.period {
  display: flex;
  flex-direction: column;
  width: 42.2%;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    color: $blue;
    @include font(14px, 23px);
    font-family: $font-main;
    font-weight: 700;
    margin-top: -4px;
    @media screen and (max-width: $tablet) {
      margin-top: 0;
    }
  }

  &__choice {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      >div{
        width: 156px;
      }
    }
  }

  &__input{
    width: 174px;
    background-color: $white;
    appearance: none;
    background: url('../icons/select.svg') no-repeat;
    background-position: 88% 52%;
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      background-position: 92.5% 50%;
    }
  }

  &__time{
    font-family: $font-main;
    @include font(14px, 23px);
    font-weight: normal;
    color: #8D94A4;
    margin-right: 4px;
    @media screen and (max-width: $tablet) {
      margin-right: 0;
      display: inline-block;
      margin-top: 4px;
      margin-bottom: -1px;
    }
  }

  &__to{
    >span{
      margin-right: 1px;
    }
  }
}

.tourists {
  @media screen and (max-width: $tablet) {
    width: 100vw;
    margin-left: -16px;
  }

  &__header {
    text-align: center;
    font-family: $font-main;
    @include font(22px, 22px);
    font-weight: 600;
    color: $blue-dark;
    margin-bottom: 21px;
    @media screen and (max-width: $tablet) {
      font-weight: 700;
      margin-bottom: 18px;
    }
  }

  &__info {
    background-color: $blue-pale;
    border: 1px solid #DEE5EC;
    border-radius: 12px;
    padding: 20px 30px 32px 30px;
    max-height: 161px;
    @media screen and (max-width: $tablet) {
      max-height: none;
      padding: 16px 16px 34px;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }
}

.tourist {

  &__number {
    font-family: $font-main;
    font-weight: 700;
    @include font(14px, 23px);
    color: #94A1AF;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 12px; 
      @media screen and (max-width: $tablet) {
        margin-bottom: 14px;
      }
  }

  &__info{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  } 

  &__birthday {
    display: flex;
    flex-direction: column;
    width: 200px;
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__goal {
    display: flex;
    flex-direction: column;
    width: 76%;
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__target {
    appearance: none;
    background: url('../icons/select.svg') no-repeat;
    background-color: $white;
    background-position: 97.5% 50%;
    @media screen and (max-width: $tablet) {
      background-position: 95% 50%;
    }
  }
}

.new-tourist {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  &:hover &__union{
    background-color: $blue-active;
  }

  &__union {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__text {
    font-family: $font-main;
    font-weight: 400;
    @include font(16px, 16px);
    color: $blue-dark;
    margin-top: -2px;
  }
}