.feedback {
  padding: 120px 0;

  &__wrapper {
  height: 893px;
  background: url("../img/questions/questions_1.jpg") no-repeat;
  background-position: 15px 0;
  display: flex;
  justify-content:end;
  align-items: center;
  }

  &__form {
    margin-right: 65px;
  }
}

.form {
  padding: 75px 154px 104px 112px;
  margin-top: 5px;
  max-width: 735px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $clear-white;
  align-items: baseline;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top:4%;
    left:4%;
    z-index: 0;
    width: 690px;
    height: 690px;
    display: block;
    border: 1px solid $light-gray;
    transform: matrix(-0.26, 0.97, -0.97, -0.26, 0, 0);
  }

  &__header {
    margin-bottom: 18px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 420px;
  }

  &__inputs{
    display: flex;
    flex-direction: column;
    width: 470px;
  }

  &__input {
    z-index: 10;
    margin-bottom: 17px;
    padding: 15px 20px ;
    border: 1px solid $light-gray;
    &::placeholder{
      font-family: $font-base;
      font-weight: 300;
      @include font(16px, 22.4px);
      color: #98A4AE;
    }
  }
  & textarea{
    resize: none;
    height: 100px;
    margin-bottom: 13px;
  }

  &__btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 19px 30px;
    background-color: $blue-active;
    border: none;
    cursor: pointer;
    z-index: 10;
    >span{
      font-family: $font-base;
      font-weight: 400;
      letter-spacing: 0.05em;
      @include font(14px, 17px);
      text-transform: uppercase;
      color: $clear-white;
      text-transform: uppercase;
    }
  }
}