@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@mixin font($font-size, $line-height) {
  font-size: $font-size;
  line-height: math.div($line-height, $font-size);
}