.footer {
  background-color: $gray;

  &__main {
    display: grid;
    grid-template-columns: 0.85fr 2.6fr 1.1fr;
    padding: 80px 0;
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

.media {

  &__logo {
    margin-bottom: 40px;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__link:not(:last-child) {
    margin-right: 32px;
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr;
  font-family: 'Gotham Pro';
  font-weight: 400;
  color: $clear-white;

  &__double{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px
  }

  &__header {
    @include font(18px, 25.2px);
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    @include font(14px, 16.8px);
    color: $clear-white;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    &:hover{
      border-color: $clear-white;
    }
  }
}

.catalog {

  &__btn {
    margin-left: auto;
    max-width: 262px;
    cursor: pointer;
    padding: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    >span{
      font-family: 'Gotham Pro';
      font-weight: 400;
      display: inline-block;
      color: $clear-white;
      @include font(14px, 16.97px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-right: 30px;
    }
  }

  &__btn-blue {
    border: 1px solid $blue-active;
    background-color: $blue-active;
  }

  &__btn-transparent {
    border: 1px solid $clear-white;
    background-color: transparent;
    padding: 18px 19px;
  }
}

.intelligence {
  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr;

  &__copyright {
    color: $clear-white;
    font-family: "Gotham Pro";
    font-weight: normal;
    @include font(14px, 16.8px);
  }

  &__language {
    display: flex;
    align-items: center;
  }

  &__element:not(:last-child){
    margin-right: 8px;
  }

  &__lang {
    opacity: 0.4;
    color: $clear-white;
    font-family: "Gotham Pro";
    font-weight: normal;
    @include font(14px, 16.97px);
  }

  &__divider {
    height: 10px;
    width: 1px;
    background-color: $clear-white;
    opacity: 0.4;
  }

  &__divider-active {
    opacity: 1;
  }

  &__lang-active {
    opacity: 1;
  }

  &__dev {
    margin-left: auto;
    color: $clear-white;
    font-family: 'Gilroy';
    font-weight: normal;
    @include font(12px, 16px);
    display: flex;
    align-items: center;
    >a{
      margin-left: 4px;
    }
  }
}