html,
body{
  height: 100%;
}

body{
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main{
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container{
  max-width: 1500px;
  margin:  0 auto;
  padding: 0 15px;
  position: relative;
}

.catchword{
  font-family: 'Gotham Pro';
  font-weight: normal;
  @include font(20px, 24.24px);
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: $text-base;
}