.header {
  padding: 4px 0 3px; 
  font-family: $font-base;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-base;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
  }

  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    bottom: -11px;
    z-index: 10;
  }
}

.menu {
  &__image{
    margin-right: 75px;
  }
  &__btn {
    border: 1px solid $red-active;
    background-color: transparent;
    text-transform: uppercase;
    color: $text-base;
    @include font(14px, 16.2px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 40px;
    font-family: $font-base;
    font-weight: normal;
    margin-right: 75px;
    margin-top: -1px;

    @media screen and (max-width: 1400px) {
      @include font(12px, 14.2px);
    }
  }
  &__nav{
    margin-right: 71px;
    margin-top: -1px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 821px;

  &__item{
    position: relative;
    min-height: 19px;
    &:last-child{
      padding-right: 38px;
    }
  }

  &__link {
    color: $text-base;
    @include font(16px, 18.51px);

    @media screen and (max-width: 1400px) {
        @include font(14px, 16.2px);
      }
    &:hover{
      color: $red-active;
    }
  }

  &__highlight {
    color: $red-active;
  }

  &__lang {
    position: absolute;
    width: 38px;
  }
}

.lang {
  &:hover &__item {
    display: flex;  
  }

  &__item {
    display: none;
    margin-bottom: 14px;
    @include font(16px, 18.51px);    

    @media screen and (max-width: 1400px) {
      @include font(14px, 16.2px);

    }

    &:first-child{
      display: flex;
      align-items: center;
      &::after{
        display: table;
        content: '';
        width: 6px;
        height: 3px;
        background: url("../icons/LangArrow.svg") no-repeat;
        margin-left: 8px;
        margin-top: 3px;
      }
    }
  }

  &__link {
    color: $text-base;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 174px;
  height: 24px;
  margin-top: 3px;

  &__item{
    width: 24px;
  }

  &__link {
    >svg{
      fill: $text-base;
      &:hover{
        fill:$red-active;
      }
    }
  }
}

.heart {
  position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 18px;
      width: 15px;
      height: 15px;
      background-color: $red-active;
      transform: rotate(15deg);
    }

  &__amount {
    position: absolute;
    font-family: $font-base;
    font-weight: 700;
    @include font(8px, 10.4px);
    color: $clear-white;
    display: block;
    top: -6px;
    left: 23px;
    z-index: 20;
  }
}