.header{
  font-family: 'Gotham Pro';
  font-weight: normal;
  @include font(16px, 18.51px);
  position: relative;

  &__inner{
    padding-top: 4px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

  }
  &__btn{
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $color-focus-red;
    padding: 11px 34px;
    @include font(14px, 16.2px);
    color: $color-text-base;
  }
  &::after{
    content: '';
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #CFDAE3;
    z-index: 20;
  }
}

.nav{
  &__highlight{
    color: $color-focus-red;
  }
}

.nav-list{
  display: flex;
  position: relative;
  text-transform: uppercase;
  &__item{
    margin-right: 40px;
  }
  &__link{
    color: $color-text-base;
    &:hover {
      color: $color-focus-red;
    }
  }
}

.nav-list__lang{
  position: absolute;
}
.lang{
  &__item{
    display: none;
    margin-bottom: 15px;
  }

  &__item:first-child{
    display: flex;
    align-items: center;
    &::after{
      display: table;
      content: '';
      width: 6px;
      height: 3px;
      background: url("../icons/LangArrow.svg") no-repeat;
      margin-left: 8px;
      margin-top: 3px;
    }
  }
  &:hover &__item {
    display: flex;  
  }

  &__link{
    color: $color-text-base;
  }
}

.toolbar-list{
  margin-bottom: -3px;
  display: flex;
  align-items: center;    
  &__item{
    &:not(:last-child){
      margin-right: 26px;
    }
  }
  &__link svg{
    fill: $color-text-base;
    &:hover{
      fill: $color-focus-red;
    }
  }
}

.toolbar-heart {
  position: relative;
  &__rate {
    position: absolute;
    font-weight: 700;
    @include font(8px, 10.4px);
    color: $color-text-additional;
    display: block;
    top: -6px;
    left: 23px;
    z-index: 20;
  }
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 18px;
    width: 18px;
    height: 18px;
    background-color: $color-focus-red;
    transform: rotate(15deg);
  }
}