.header {
  padding: 4px 0;
  font-family: 'Gotham Pro';
  font-weight: normal;
  text-transform: uppercase;
  color: $color-text-base;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $form-border;
    bottom: -9px;
    z-index: 10;
  }
}

.menu {
  &__btn {
    border: 1px solid $color-focus-red;
    background-color: transparent;
    text-transform: uppercase;
    color: $color-text-base;
    padding: 11px 35px;
    @include font(14px, 16.2px);

    @media screen and (max-width: 1400px) {
      @include font(12px, 14.2px);
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 40px;
    
    @media screen and (max-width: 1400px) {
      margin-right: 30px;
    }
  }
  &__item{
    position: relative;
    min-width: 38px;
    min-height: 19px;
  }

  &__link {
    color: $color-text-base;
    @include font(16px, 18.51px);

    @media screen and (max-width: 1400px) {
        @include font(14px, 16.2px);
      }
    &:hover{
      color: $color-focus-red;
    }
  }

  &__highlight {
    color: $color-focus-red;
  }

  &__lang {
    position: absolute;
  }
}

.lang {
  &:hover &__item {
    display: flex;  
  }

  &__item {
    display: none;
    margin-bottom: 15px;
    @include font(16px, 18.51px);    

    @media screen and (max-width: 1400px) {
      @include font(14px, 16.2px);

    }

    &:first-child{
      display: flex;
      align-items: center;
      &::after{
        display: table;
        content: '';
        width: 6px;
        height: 3px;
        background: url("../icons/LangArrow.svg") no-repeat;
        margin-left: 8px;
        margin-top: 3px;
      }
    }
  }

  &__link {
    color: $color-text-base;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  // .toolbar__item

  &__item:not(:last-child) {
    margin-right: 26px;
  }

  &__link {
    >svg{
      fill: $color-text-base;
      &:hover{
        fill:$color-focus-red;
      }
    }
  }
}

.heart {
  position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 18px;
      width: 18px;
      height: 18px;
      background-color: $color-focus-red;
      transform: rotate(15deg);
    }

  &__amount {
    position: absolute;
    font-family: 'Gotham Pro';
    font-weight: 700;
    @include font(8px, 10.4px);
    color: $color-text-additional;
    display: block;
    top: -6px;
    left: 23px;
    z-index: 20;
  }
}