.instagram {
  background-color: rgba(207, 218, 227, 0.2);
  padding: 120px;

  &__wrapper {
    max-width: 910px;
  }

  &__catchword {
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 200px;
      height: 1px;
      background-color: #8D9AA5;
      top: 50%;
      left: 0;
    }
  }

  &__tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__account {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 155px;
    height: 100%;
    justify-content: space-between;
    font-family: 'Gotham Pro';
    font-weight: normal;

    @media screen and (max-width: 1000px){
      max-height: 100px;
    }
    
  }

  &__logo {
    width: 50px;
    height: 50px;
    background-color: $color-text-base;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1000px){
      width: 30px;
      height: 30px;
    }
  }

  &__link {
    @include font(24px, 28.8px);
    color: $color-text-base;
    cursor:default;

    @media screen and (max-width: 1000px) {
      @include font(20px, 24px);
    }
  }

  &__btn {
    color: $color-dots;
    @include font(14px, 16.2px);
    text-transform: uppercase;
    padding: 13px 31px;
    background-color: $color-button-active;
    border: 1px solid $color-button-active;
    cursor: pointer;
    >span{
      font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 1000px){
      padding: 8px 22px;
    }
  }
}

.tile {
  &__element {
    background-color: $color-text-additional;
  }
}