.project-slider {
  max-width: 1070px;

  &__img-big {
    width: 1070px;
    height: 806px;
    object-fit: cover;
  }
}

.carousel-wrapper{
  margin-left: 90%;
  position: relative;
}

.swiper-slide {
  &__glass{
    position: absolute;    
    left: 189px;
    bottom: 212px;
  }  
}

.glass{
  width: 119px;
  height: 119px;
  background-color: rgba(249, 249, 250, 0.2);
  cursor: none;
  &__magnify{
    margin: 27px;
    fill: #F9F9FA;
  }
}

.project-carousel {
  max-width: 1060px;
  position: absolute;
  bottom: 60px;
  overflow: hidden;

  &__image {
    width: 327px;
    height: 245px;
  }
}