.projects {
  position: relative;
  padding: 119px 0 120px;
  font-family: $font-base;
  font-weight: normal;

  &__wrapper{
    position: relative;
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
  &__arrow{
    background-color: transparent;
    border: 1px solid #98A4AE;
    padding: 0;
    width: 52px;
    height: 52px;
    cursor: pointer;
    &:hover>svg{
      fill: $red-active;
    }
    >svg{
      fill: $text-base;
    }
  }
}

.cathword {
  margin-bottom: 80px;
  font-family: $font-base;
  color: $text-base;
  &__text {
    margin-left: -1px;
    font-weight: normal;
    letter-spacing: 0.1em;
    @include font(20px, 24px);
    text-transform: uppercase;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 200px;
      height: 1px;
      background-color: #8D9AA5;
      margin-left: 24px;
      top: 50%;
    }
  }
}


.full-slider {
  &__content {
    width: 540px;
    margin-left: 69px;
    @media screen and (max-width:1400px) {
      margin-left: 0;
    }
  }
  &__project{
    min-width: 0;
    margin-left: -10px;
  }
}

.title{
  font-family: $font-base;
  @include font(44px, 57px);
  font-weight: normal;
  color: $text-base;

  @media screen and (max-width:1400px) {
    @include font(35px, 45px);
  }
}

.meaning{
  font-family: $font-base;
  @include font(18px, 25px);
  color: $text-base;
  font-weight: 300;

  @media screen and (max-width:1400px) {
    @include font(16px, 20px);
  }
}

.sense {
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
  }

  &__nav{
    width: 123px;
    display: flex;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 42px;
  }

  &__text {
    max-width: 460px;    
    >p:not(:last-child){
      margin-bottom: 10px;
    }
  }
}

.btn {
  @include font(14px, 16.2px);
  font-family: $font-base;
  padding: 18px 45px;
  color: $blue-active;
  border: 1px solid $blue-active;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;

  @media screen and (max-width:1400px) {
    @include font(12px, 14.2px);
  }
}