.project-slider {
  max-width: 1070px; 

  &__img-big{
    width: 1070px;
    height: 806px;
    @media screen and (max-width: 1400px) {
      width: 713px;
      height: 470px;
    }
  }
}

.carousel-wrapper{
  margin-left: 90%;
  position: relative;

  @media screen and (max-width:1400px) {
    margin-left: 0;
    margin-top: 100px;
  }
}

.glass{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 119px;
  background-color: rgba(249, 249, 250, 0.2);
  cursor: none;
}

.project-carousel {
  max-width: 1060px;
  position: absolute;
  bottom: 60px;
  overflow: hidden;

  @media screen and (max-width:1400px) {
    position: relative;
    overflow:visible;
  }

  &__image {
    width: 327px;
    height: auto;
  }
}


