.underheader {
  position: relative;
  font-family: $font-base;
  font-weight: normal;

  &__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1470px;
    margin: 0 auto;
  }
}

.underheader-slider {

  &__element {
    position: relative;
  }

  &__image {
    position: relative;
    >img{
      object-fit: cover;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(64, 71, 78, 0.45);
    }
  }

  &__description {
    position: absolute;
    bottom: 187px;
    margin-left: 15px;
    width: 856px;
  }
}

.description {
  &__name{
    display: block;
    margin-bottom: 13px;
  }

  &__title {
    @include font(86px, 87px);
    color: $clear-white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: normal;

    @media screen and (max-width:1400px) {
      @include font(66px, 67px);
    }
  }

  &__text {
    @include font(30px, 42px);
    max-width: 540px;
    color: $clear-white;

    @media screen and (max-width:1400px) {
      @include font(25px, 35px);
    }
  }
}

.underheader-navigation {
  background-color: #111;
  position: relative;
  z-index: 10;
}


.underheader-nav {
  position: absolute;
  bottom: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;  

  &__scroll {
    cursor: pointer;
    margin-left: 68px;
    
  }

  &__arrows {
    margin-top: -2px;
    display: flex;
    max-width: 142px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    >svg:hover{
      fill: $red-active;
      cursor: pointer;
    }
  }

  &__divider {
    width: 1.5px;
    height: 34px;
    background-color: $clear-white;
  }
}

.underheader-social {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 362px;
  right: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
  width: auto;
}
.swiper-pagination-horizontal{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin-left: 0;
  margin-right: 17px;
}

.swiper-pagination-bullet{
  margin: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  border: none;
  border-radius: 50%;
  background-color: $white;
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination-bullet-active{
  width: 15px;
  height: 15px;
  border: 1px solid $white;
  background-color: transparent;
}