.greencard {
  background-color: $blue-pale;
  padding: 60px 0;
  @media screen and (max-width: $tablet) {
    padding: 31px 0;
  }

  &__header {
    padding: 31px 41px;
    color: $blue-dark;
    margin-top: 2px;
    @media screen and (max-width: $tablet) {
      padding: 0px;
      padding-bottom: 26px;
      @include font(32px, 35px);
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 40px;
    border-top: 1px solid #CFDAE2;
    @media screen and (max-width: $tablet) {
      padding: 0;
      padding-top: 24px;
      flex-direction: column;
      align-items: baseline;
    }
  }

  &__list {
    display: flex;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child){
      margin-right: 120px;
      @media screen and (max-width: $tablet) {
        margin-right: 0;
        margin-bottom: 18px;
      }
    }
  }

  &__button {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: $blue;
    padding: 20px 63px;
    border: 2px solid $blue;
    >span{
      margin-left: 6px;
    }
    &:hover{
      color: $white;
      background-color: $blue;
      >svg{
        fill: $white;
      }
    }
    @media screen and (max-width: $tablet) {
      margin-top: 22px;
      padding: 15px 45px;
    }
  }
}

.offer {

  &__wrapper {
    margin: 0 auto;
    background-color: $white;
    border-radius: 10px;
    max-width: 1270px;
    @media screen and (max-width: $tablet) {
      padding: 24px;
    }
  }
}

.options {

  &__header {
    font-family: $font-main;
    font-weight: normal;
    @include font(16px, 19px);
    color: $gray-blue;
    display: flex;
    margin-bottom: 2px;
  }

  &__value {
    font-family: $font-main;
    font-weight: 600;
    @include font(18px, 29px);
    color: $blue-dark;
  }
}