.offer {
  padding: 44px 0;
  @media screen and (max-width: $tablet) {
    padding: 36px 0 38px;
  }

  &__wrapper{
    margin: 0 auto;
    background-color: $white;
    border-radius: 10px;
    max-width: 1270px;
  }

  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      max-height: 328px;
    }
  }

  &__sense {
    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  
  &__text {
    font-family: $font-main;
    font-weight: normal;
    @include font(16px, 22px);
    color: $blue-dark;
    margin-bottom: 25px;
    margin-top: -5px;
    @media screen and (max-width: $tablet) {
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__header {
    font-family: $font-main;
    font-weight: 600;
    @include font(30px, 22px);
    color: $blue-dark;
    padding-bottom: 5px;
    @media screen and (max-width: $tablet) {
      @include font(26px, 22px);
      margin-bottom: 5px;
    }
  }
}
.sorting {
  border-radius: 6px;
  display: flex;
  border: 1px solid #D7E1E9;

  &__item {
    min-width: 180px;
    text-align: center;
    padding: 12px 12px;
    cursor: pointer;
    &:not(:last-child) {
      border-right: 1px solid #D7E1E9;
    }
    @media screen and (max-width: $tablet) {
      padding: 12px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 0;
      width: 109px;
    }
    >button{
      border: none;
      background-color: transparent; 
      cursor: pointer;
      >span {        
        font-family: $font-main;
        font-weight: normal;
        @include font(16px, 19px);
        color: #7E8595;
        cursor: pointer;
        @media screen and (max-width: $tablet) {
          display: inline-block;
          @include font(12px, 12px);
          max-height: 46px;
        }
      }
    }
    &:hover>button>span{
      color: $blue-dark;      
    }
  }
  &__item_active {
    background-color: rgba(33, 85, 207, 0.09);
    min-width: 185px;
    >button{
      >span{
        font-weight: 600;
        color: $blue-dark;
      }
    }
  @media screen and (max-width: $tablet) {
    min-width: 0;
    width: 109px;
  }
  }
}