.about {
  padding-top: 80px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 750px;
  }

  &__img {
    border-radius: 12px;
  }
}


.introduction {

  &__header {
    color: $blue-dark;
    margin-bottom: 24px;
  }

  &__text {
    font-family: 'Proxima Nova';
    font-weight: normal;
    @include font(18px, 27px);
    color: $blue-dark;
    opacity: 0.8;
  }
}