.callback {
  background-color: #F8FBFE;
  padding: 70px 0 90px 0;
  @media screen and (max-width: $tablet) {
    background-color: $white;
    padding: 40px 0 0;
  }

  &__header {
    margin-bottom: 40px;
    color: $blue-dark;
    @media screen and (max-width: $tablet) {
      @include font(32px, 35px);
      margin-bottom: 32px;
    }
  }
}


.feed {
  display: flex;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  &__form {
    margin-top: -3px;
    width: 490px;
    margin-right: 160px;
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    &:not(:last-child){
      margin-bottom: 20px;
      @media screen and (max-width: $tablet) {
        margin-bottom: 20px;
      }
    }
    & input{
      width: 100%;
    }
    & textarea {
      width: 100%;
      height: 124px;
      resize: none;
      padding: 10px 14px;
      border: 1px solid #D7E1E9;
      border-radius: 6px;
      @media screen and (max-width: $tablet) {
        height: 124px;
      }
    }
  }

  &__person {
    display: flex;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      & input{
        width: 100%;
      }
    }

  }

  &__sender {
    &:not(:last-child){
      margin-right: 30px;
      @media screen and (max-width: $tablet) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    >input{
      width: 230px;
    }
  }

  &__label {
    color: $blue-dark;
    font-family: $font-main;
    font-weight: 600;
    @include font(16px, 26px);
    display: inline-block;
    height: 12px;
    margin-bottom: 20px;
  }

  & input{
    padding: 10px 14px;
    border: 1px solid #D7E1E9;
    border-radius: 6px;
    &::placeholder{
      @include font(16px, 19px);
      font-family: $font-main;
      color: #9E9E9E;
      opacity: 0.8;
    }
  }

  &__btn {
    margin-top: 28px;
    background-color: $orange;
    border: none;
    padding: 22px 55px;
    >span{
      color: $white;
    }
    &:hover{
      background-color: $orange-active;
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      max-height: 52px;
      @include font(12px, 12px);
      margin-top: 32px;
    }
  }
}


.instruction {
  background-color: #353D52;
  border-radius: 12px;
  width: 695px;
  height: 464px;
  background-image: url('../icons/Intersect.svg');
  background-repeat: no-repeat;
  background-position: 140% -640%;
  @media screen and (max-width: $tablet) {
    width: 100%;
    height: 100%;
    background-image: none;
  }

  &__wrapper {
    padding: 67px 64px 74px 64px;
    @media screen and (max-width: $tablet) {
      padding: 32px 10px 32px 16px;
    }
  }

  &__header {
    color: $white;
    margin-bottom: 30px;
    @media screen and (max-width: $tablet) {
      @include font(26px, 31px);
      margin-bottom: 24px;
    }
  }

  &__item {
    color: $white;
    @include font(24px,24px);
    font-family: $font-main;
    font-weight: 400;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    padding-left: 24px;
    position: relative;
    &::before{
      content: '';
      width: 12px;
      height: 3px;
      background-color: $white;
      position: absolute;
      left: -1px;
      top: 35%;
    }
    @media screen and (max-width: $tablet) {
      @include font(18px, 18px);
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      &::before {
        top: 8px;
        left: 0;
      }
    }
  }
}