@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figcaption,
figure,
blockquote,
dl dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.heading {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 46px;
  line-height: 1.0869565217;
}

.btn {
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-family: "Proxima Nova";
  font-weight: 600;
  letter-spacing: 0.08em;
}

.btn > span {
  text-transform: uppercase;
}

.header {
  border-bottom: 1px solid #D7E1E9;
  position: relative;
}

.header__hamburger {
  display: none;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 0;
}

.header__nav {
  margin-left: 80px;
}

.header__btn {
  border: 1px solid #2155CF;
  background-color: #2155CF;
  color: #FFFFFF;
  padding: 18px 40px;
}

.header__btn:hover {
  background-color: #1442AE;
  border-color: #1442AE;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 39px;
}

.nav__link {
  color: #001237;
  font-weight: 400;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 1.218125;
  position: relative;
}

.nav__link:hover::after {
  height: 1px;
  width: 100%;
  content: "";
  position: absolute;
  background-color: #2155CF;
  left: 0;
  bottom: -2px;
}

.menu__close {
  display: none;
}

.insurance {
  padding: 100px 0px 80px 0;
}

.insurance__container {
  overflow: visible;
}

.insurance__inner {
  background-color: #072D85;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 4px 46px rgba(123, 139, 181, 0.22));
  filter: drop-shadow(0px 4px 46px rgba(123, 139, 181, 0.22));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 520px;
}

.insurance__image {
  background: url("../icons/Intersect.svg") no-repeat;
  background-position: 72% 40%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.insurance__content {
  padding: 75px 0;
}

.action-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 710px;
  margin-left: 12px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.action-plan__header {
  margin-bottom: 32px;
  color: #FFFFFF;
  margin-top: 5px;
}

.action-plan__list {
  margin-bottom: 50px;
}

.action-plan__item {
  margin-left: 5px;
  padding-left: 42px;
  background: url("../icons/shield.svg") no-repeat;
}

.action-plan__item:not(:last-child) {
  margin-bottom: 20px;
}

.action-plan__text {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.action-plan__button {
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #2463F6;
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 27px 70px;
}

.action-plan__button:hover {
  background-color: #1442AE;
}

.footer {
  background-color: #F1F8FE;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.footer__logotype {
  margin-bottom: 60px;
}

.footer__navigation {
  margin-bottom: 52px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 34px;
}

.navigation__link {
  color: #001237;
  text-transform: uppercase;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 60px;
}

.navigation__link:hover {
  border-bottom: 1px solid #001237;
}

.basement {
  padding-top: 45px;
}

.basement_mobile {
  display: none;
}

.basement__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.basement__copyright {
  margin-top: -6px;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 1.7142857143;
  color: #001237;
  opacity: 0.8;
}

.basement__contacts {
  margin-top: -12px;
  margin-left: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basement__contacts_mobile {
  display: none;
}

.basement__contact:not(:last-child) {
  margin-right: 36px;
}

.basement__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #001237;
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2222222222;
}

.basement__link > svg {
  margin-right: 8px;
}

.basement__link > svg:hover {
  fill: #6B82B0;
}

.basement__dev {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basement__text {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6428571429;
  opacity: 0.9;
  color: #2F2F2F;
  margin-right: 10px;
}

.basement__developer > svg:hover {
  fill: #6B82B0;
}

.swiper-pagination-progressbar {
  position: absolute;
  max-width: 100%;
  background-color: #C0C2C3;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 1px;
  left: 0;
  top: 35%;
}

:root {
  --swiper-theme-color: #4268B2;
}

.swiper-slide {
  padding-bottom: 50px;
}

.arrange {
  background-color: #F8FBFE;
  padding: 90px 0 50px 0;
  position: relative;
}

.arrange__header {
  text-align: center;
  color: #001237;
  margin-bottom: 75px;
  font-size: 46px;
  line-height: 1.2173913043;
}

.swiper__nav {
  position: relative;
}

.switch {
  margin-bottom: 80px;
}

.switch__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 824px;
  margin: 0 auto;
}

.switch__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.switch__item_active > span.switch__index {
  background-color: #4268B2;
}

.switch__item_active > span.switch__index::after {
  background-color: rgba(66, 104, 178, 0.15);
}

.switch__item_active > span.switch__index:hover {
  background-color: #4268B2;
  color: #F6F6F6;
}

.switch__item_active > span.switch__description {
  color: #263238;
}

.switch__index {
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #F6F6F6;
  font-size: 24px;
  line-height: 1.5;
  background-color: #C0C2C3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-bottom: 22px;
}

.switch__index::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: rgba(192, 194, 195, 0.15);
  border-radius: 50%;
  z-index: 1;
}

.switch__index:hover {
  background-color: #FFFFFF;
  color: #2155CF;
  cursor: pointer;
}

.switch__description {
  min-width: 230px;
  position: absolute;
  color: #9E9E9E;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  bottom: -25px;
}

.step {
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  margin: 0 auto;
  max-width: 1050px;
  height: 242px;
  background-color: #FFFFFF;
}

.step__wrapper {
  padding-right: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.step__img {
  height: 162px;
  background: url("../icons/Intersect_opacity.svg") no-repeat;
  background-position: 20% 70%;
  padding: 32px 90px 40px 90px;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 40px;
  margin-top: 8px;
}

.step__content {
  margin-top: -12px;
  max-width: 570px;
}

.step__header {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #001237;
  margin-bottom: 17px;
}

.step__text {
  color: #000;
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6875;
  opacity: 0.8;
}

.confirence__swiper {
  max-width: 1210px;
  padding: 40px 35px 0px 47px;
  padding-top: 40px;
  overflow: hidden;
}

.confirence__container {
  max-width: 1610px;
  padding-left: 40px;
}

.confirence__navigation {
  width: 320px;
  padding-top: 40px;
}

.confirence__header {
  color: #001237;
  margin-bottom: 106px;
  line-height: 56px;
}

.confirence__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 2px;
}

.confirence__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0px;
}

.controller__btn {
  background-color: #2155CF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.review {
  width: 360px;
  height: 320px;
  -webkit-box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  border-radius: 10px;
}

.review__card {
  padding: 27px 30px 44px 26px;
}

.review__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.review__star:not(:last-child) {
  margin-right: 5px;
}

.review__text {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4375;
  color: #263238;
  opacity: 0.8;
  margin-bottom: 38px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author__photo {
  margin-right: 30px;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.author__name {
  color: #263238;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-weight: 600;
  margin-bottom: 5px;
}

.author__time {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #C0C2C3;
}

.faq__container {
  max-width: 1300px;
  overflow: visible;
}

.faq__header {
  margin-top: 1px;
  color: #001237;
  text-align: center;
  margin-bottom: 45px;
  line-height: 56px;
}

.accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 46px rgba(161, 168, 188, 0.22);
  box-shadow: 0px 4px 46px rgba(161, 168, 188, 0.22);
  border-radius: 8px;
}

.accordeon__wrapper {
  position: relative;
}

.accordeon__wrapper.active {
  background-color: #F8FBFE;
}

.accordeon__wrapper.active::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #2155CF;
}

.accordeon__wrapper.active .trigger__btn {
  background-color: #2155CF;
  border-color: #2155CF;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordeon__wrapper.active .trigger__btn > svg > path {
  stroke: #FFFFFF;
}

.accordeon__wrapper.active .answer {
  display: block;
}

.accordeon__trigger {
  padding: 32px 40px;
  max-height: 96px;
}

.trigger {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #D7E1E9;
}

.trigger__text {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  color: #1A1B20;
}

.trigger__btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #D7E1E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.answer {
  padding: 35px 0 40px 40px;
  display: none;
}

.answer__text {
  max-width: 1100px;
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  opacity: 0.8;
  margin-bottom: 23px;
}

.answer__item {
  padding-left: 28px;
  position: relative;
}

.answer__item::before {
  position: absolute;
  left: 0;
  top: 10%;
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid #2155CF;
}

.answer__item:not(:last-child) {
  margin-bottom: 16px;
}

.answer__item > span {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1111111111;
  color: #263238;
}

.description {
  padding-bottom: 90px;
}

.description__container {
  padding-right: 10px;
  max-width: 1300px;
  position: relative;
}

.description__container::after {
  position: absolute;
  content: "";
  height: 70px;
  width: 97%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(28.73%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #FFFFFF 28.73%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(360deg, #FFFFFF 28.73%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  left: 0;
}

.description__header {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  color: #001237;
  margin-bottom: 15px;
}

.description__content {
  max-width: 1274px;
  max-height: 235px;
  overflow-y: scroll;
  position: relative;
}

.description__content::-webkit-scrollbar {
  width: 10px;
}

.description__content::-webkit-scrollbar-track {
  border: 4px solid #FFFFFF;
  width: 2px;
  background-color: #F3F4F5;
}

.description__content::-webkit-scrollbar-thumb {
  background: #265FD1;
  border-radius: 5px;
}

.description__text {
  margin-right: 25px;
  color: #263238;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4375;
  opacity: 0.8;
}

.description__text:not(:last-child) {
  margin-bottom: 25px;
}

.advantages {
  background-color: #F9FBFF;
  padding: 50px 0 90px;
}

.advantages__header {
  text-align: center;
  line-height: 55px;
  margin-bottom: 60px;
}

.advantages__wrapper {
  max-width: 1446px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefits__item:not(:last-child) {
  min-width: 321px;
}

.benefits__wrapper {
  height: 80px;
  width: 80px;
  border: 1px solid #D7E1E9;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
}

.benefits__description {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #1A1B20;
}

.samples {
  padding: 93px 0 40px;
}

.samples__header {
  text-align: center;
  margin-bottom: 52px;
}

.samples__sort {
  max-width: 392px;
  max-height: 46px;
  margin: 0 auto 40px;
}

.samples__sort > li {
  width: 50%;
}

.samples__sort > li button > span {
  font-weight: 600;
}

.samples__nav {
  display: none;
}

.sample {
  width: 360px;
  height: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.16);
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.16);
  border-radius: 10px;
  background-color: #FFFFFF;
}

.greencard {
  background-color: #F1F8FE;
  padding: 60px 0;
}

.greencard__wrapper {
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 1270px;
}

.greencard__header {
  padding: 31px 41px;
  color: #001237;
  margin-top: 2px;
}

.greencard__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 24px 40px;
  border-top: 1px solid #CFDAE2;
}

.greencard__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greencard__item:not(:last-child) {
  margin-right: 120px;
}

.greencard__button {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2155CF;
  padding: 20px 63px;
  border: 2px solid #2155CF;
}

.greencard__button > span {
  margin-left: 6px;
}

.greencard__button:hover {
  color: #FFFFFF;
  background-color: #2155CF;
}

.greencard__button:hover > svg {
  fill: #FFFFFF;
}

.options__header {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  color: #263238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.options__value {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6111111111;
  color: #001237;
}

.offer {
  padding: 44px 0;
}

.offer__wrapper {
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 1270px;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer__text {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.375;
  color: #001237;
  margin-bottom: 25px;
  margin-top: -5px;
}

.offer__header {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 30px;
  line-height: 0.7333333333;
  color: #001237;
  padding-bottom: 5px;
}

.sorting {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #D7E1E9;
}

.sorting__item {
  min-width: 180px;
  text-align: center;
  padding: 12px 12px;
  cursor: pointer;
}

.sorting__item:not(:last-child) {
  border-right: 1px solid #D7E1E9;
}

.sorting__item > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sorting__item > button > span {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  color: #7E8595;
  cursor: pointer;
}

.sorting__item:hover > button > span {
  color: #001237;
}

.sorting__item_active {
  background-color: rgba(33, 85, 207, 0.09);
  min-width: 185px;
}

.sorting__item_active > button > span {
  font-weight: 600;
  color: #001237;
}

.proposals {
  background-color: #F1F8FE;
  position: relative;
  z-index: 0;
  padding: 30px 0;
}

.proposals__item:first-child {
  padding-top: 50px;
}

.proposals__item:last-child {
  padding-bottom: 50px;
}

.proposals__item:not(:last-child) {
  margin-bottom: 30px;
}

.proposals__wrapper {
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
}

.proposal {
  padding: 38px 0;
  margin-left: 54px;
  margin-right: 38px;
  display: grid;
  grid-template-areas: "logo stars name sum price button";
  grid-template-columns: 21.5% 14% 24% 12% 1fr 1.01fr;
}

.proposal__logo {
  grid-area: logo;
}

.proposal__vuso {
  width: 131px;
  height: 32px;
  background: url("../img/offers/vuso.svg") no-repeat;
  margin-top: 7px;
}

.proposal__upsk {
  width: 131px;
  height: 29px;
  background: url("../img/offers/upsk.svg") no-repeat;
  margin-top: 5px;
}

.proposal__asko {
  width: 131px;
  height: 34px;
  background: url("../img/offers/asko.svg") no-repeat;
  margin-top: 4px;
}

.proposal__oranta {
  width: 121px;
  height: 45px;
  background: url("../img/offers/oranta.svg") no-repeat;
  margin-top: -10px;
}

.proposal__title {
  display: none;
}

.proposal__title_rating {
  margin-top: 3px;
  grid-area: title_rating;
}

.proposal__title_name {
  grid-area: title_name;
  margin-top: 2px;
}

.proposal__title_franchise {
  grid-area: title_franchise;
}

.proposal__title_price {
  grid-area: title_price;
}

.proposal__stars {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: stars;
}

.proposal__name {
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 1.1875;
  color: #263238;
  grid-area: name;
}

.proposal__sum {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 1.2222222222;
  color: #263238;
  grid-area: sum;
}

.proposal__price {
  margin-top: -5px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #263238;
  grid-area: price;
}

.proposal__price_old {
  position: absolute;
  left: 0;
  bottom: -11px;
  color: rgba(38, 50, 56, 0.5);
}

.proposal__price_old::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  background-color: #AEAEAE;
  -webkit-transform: rotate(-8.24deg);
  -ms-transform: rotate(-8.24deg);
  transform: rotate(-8.24deg);
  bottom: 45%;
  left: -2px;
}

.proposal__button {
  border: none;
  background-color: #FF9504;
  padding: 14px 44px 14px 46px;
  grid-area: button;
}

.proposal__button > span {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.08em;
}

.proposal__button:hover {
  background-color: #E28300;
}

.callback {
  background-color: #F8FBFE;
  padding: 70px 0 90px 0;
}

.callback__header {
  margin-bottom: 40px;
  color: #001237;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed__form {
  margin-top: -3px;
  width: 490px;
  margin-right: 160px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feedback__item:not(:last-child) {
  margin-bottom: 20px;
}

.feedback__item input {
  width: 100%;
}

.feedback__item textarea {
  width: 100%;
  height: 124px;
  resize: none;
  padding: 10px 14px;
  border: 1px solid #D7E1E9;
  border-radius: 6px;
}

.feedback__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__sender:not(:last-child) {
  margin-right: 30px;
}

.feedback__sender > input {
  width: 230px;
}

.feedback__label {
  color: #001237;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  display: inline-block;
  height: 12px;
  margin-bottom: 20px;
}

.feedback input {
  padding: 10px 14px;
  border: 1px solid #D7E1E9;
  border-radius: 6px;
}

.feedback input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  color: #9E9E9E;
  opacity: 0.8;
}

.feedback input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  color: #9E9E9E;
  opacity: 0.8;
}

.feedback input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  color: #9E9E9E;
  opacity: 0.8;
}

.feedback input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  color: #9E9E9E;
  opacity: 0.8;
}

.feedback input::placeholder {
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  color: #9E9E9E;
  opacity: 0.8;
}

.feedback__btn {
  margin-top: 28px;
  background-color: #FF9504;
  border: none;
  padding: 22px 55px;
}

.feedback__btn > span {
  color: #FFFFFF;
}

.feedback__btn:hover {
  background-color: #E28300;
}

.instruction {
  background-color: #353D52;
  border-radius: 12px;
  width: 695px;
  height: 464px;
  background-image: url("../icons/Intersect.svg");
  background-repeat: no-repeat;
  background-position: 140% -640%;
}

.instruction__wrapper {
  padding: 67px 64px 74px 64px;
}

.instruction__header {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.instruction__item {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1;
  font-family: "Proxima Nova";
  font-weight: 400;
  padding-left: 24px;
  position: relative;
}

.instruction__item:not(:last-child) {
  margin-bottom: 20px;
}

.instruction__item::before {
  content: "";
  width: 12px;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: -1px;
  top: 35%;
}

.about {
  padding-top: 80px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__content {
  max-width: 750px;
}

.about__img {
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover;
}

.introduction__header {
  color: #001237;
  margin-bottom: 24px;
}

.introduction__text {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #001237;
  opacity: 0.8;
}

.insurances {
  padding: 100px 0;
}

.insurances__header {
  color: #001237;
  text-align: center;
  margin-bottom: 43px;
  font-size: 46px;
  line-height: 1.1956521739;
}

.belay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 10px;
}

.belay__link {
  position: relative;
}

.belay__img {
  border-radius: 10px;
}

.belay__description {
  position: absolute;
  bottom: -176px;
  left: 24px;
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}

.belay__wrapper {
  width: 360px;
  height: 200px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.belay__name {
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  font-family: "Proxima Nova";
  color: #FFFFFF;
  margin-left: 24px;
  margin-bottom: 21px;
}

.belay__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(93%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 93%);
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 93%);
  width: 100%;
  height: 120px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.belay__osago {
  background: url("../img/insurance/osago.jpg") no-repeat;
}

.belay__kasko {
  background: url("../img/insurance/kasko.jpg") no-repeat;
}

.belay__greencard {
  background: url("../img/insurance/green-card.jpg") no-repeat;
}

.belay__tourists {
  background: url("../img/insurance/tourists.jpg") no-repeat;
}

.tourism {
  background-color: #F9FBFF;
}

.tourism__container {
  padding: 50px;
}

.tourism__form {
  max-width: 1072px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 32px rgba(123, 139, 181, 0.2);
  box-shadow: 0px 4px 32px rgba(123, 139, 181, 0.2);
  overflow: visible;
}

.touristic {
  padding: 50px 31px;
}

.touristic__header {
  font-size: 48px;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
}

.touristic__input {
  padding: 13px 21px 13px 16px;
  border-radius: 6px;
  border: 1px solid #D7E1E9;
  font-size: 16px;
  line-height: 1.1875;
  font-family: "Proxima Nova";
  font-weight: normal;
  color: #263238;
  max-height: 46px;
  margin-top: 5px;
}

.touristic__trip {
  margin-bottom: 29px;
}

.touristic__tourists {
  margin-bottom: 32px;
}

.touristic__add {
  margin: 0 auto;
  margin-bottom: 24px;
}

.touristic__result {
  margin: 0 auto;
  display: block;
  background-color: #FF9504;
  border: none;
  width: 410px;
  height: 60px;
}

.touristic__result:hover {
  background-color: #E28300;
}

.touristic__result > span {
  color: #FFFFFF;
}

.trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.trip__param {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 1.625;
  color: #001237;
  font-weight: 600;
  margin-top: -4px;
}

.direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 54.9%;
}

.direction__ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.direction__example {
  color: #8D94A4;
  font-size: 14px;
  line-height: 1.6428571429;
  font-family: "Proxima Nova";
  font-weight: normal;
  margin-right: 9px;
}

.direction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction__item {
  margin-top: 1px;
}

.direction__item > span {
  font-family: "Proxima Nova";
  font-weight: normal;
  color: #2155CF;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}

.direction__item:not(:last-child) {
  margin-right: 12px;
}

.period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 42.2%;
}

.period__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.period__total {
  color: #2155CF;
  font-size: 14px;
  line-height: 1.6428571429;
  font-family: "Proxima Nova";
  font-weight: 700;
  margin-top: -4px;
}

.period__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.period__input {
  width: 174px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../icons/select.svg") no-repeat;
  background-position: 88% 52%;
}

.period__time {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 1.6428571429;
  font-weight: normal;
  color: #8D94A4;
  margin-right: 4px;
}

.period__to > span {
  margin-right: 1px;
}

.tourists__header {
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: #001237;
  margin-bottom: 21px;
}

.tourists__info {
  background-color: #F1F8FE;
  border: 1px solid #DEE5EC;
  border-radius: 12px;
  padding: 20px 30px 32px 30px;
  max-height: 161px;
}

.tourist__number {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6428571429;
  color: #94A1AF;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 12px;
}

.tourist__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tourist__birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 200px;
}

.tourist__goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 76%;
}

.tourist__target {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../icons/select.svg") no-repeat;
  background-color: #FFFFFF;
  background-position: 97.5% 50%;
}

.new-tourist {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.new-tourist:hover .new-tourist__union {
  background-color: #1442AE;
}

.new-tourist__union {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2155CF;
  border-radius: 50%;
  margin-right: 8px;
}

.new-tourist__text {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #001237;
  margin-top: -2px;
}

@media screen and (max-width: 1275px) {
  .header__nav {
    margin-left: 20px;
  }

  .header__btn {
    padding: 12px 20px;
  }

  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .header__hamburger {
    display: block;
  }

  .header__inner {
    padding: 12px 0;
  }

  .header__nav {
    margin-left: 0;
  }

  .header__btn {
    padding: 9px 15px;
  }

  .header__btn > span {
    font-size: 12px;
    line-height: 1;
  }

  .header__logo {
    width: 97px;
    height: 30px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: -100vw;
    -webkit-transition: left ease 0.2s;
    -o-transition: left ease 0.2s;
    transition: left ease 0.2s;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav_show {
    left: 0;
    z-index: 10;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .menu__close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
  }

  .insurance {
    padding: 60px 0;
  }

  .insurance__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    max-height: 605px;
  }

  .insurance__image {
    position: relative;
    background: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .insurance__image::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: url("../icons/Intersect.svg") no-repeat;
    top: 70px;
    left: -55px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-size: 100%;
  }

  .insurance__image img {
    width: 284px;
    height: 201px;
  }

  .insurance__content {
    padding: 40px 0 10px;
    max-width: 280px;
  }

  .action-plan {
    margin-left: 0;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .action-plan__header {
    font-size: 26px;
    line-height: 1;
  }

  .action-plan__list {
    margin-bottom: 32px;
  }

  .action-plan__item {
    background-position: left 20%;
  }

  .action-plan__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .action-plan__text {
    font-size: 18px;
    line-height: 1.2222222222;
  }

  .action-plan__button {
    font-size: 12px;
    line-height: 1;
    width: 280px;
    height: 52px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .footer__logotype {
    margin-bottom: 44x;
  }

  .footer__logotype > img {
    width: 185px;
    height: 41px;
  }

  .footer__navigation {
    margin-bottom: 44px;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 27px;
  }

  .navigation__link {
    font-size: 14px;
    line-height: 1.2142857143;
  }

  .basement {
    display: none;
  }

  .basement_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 42px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .basement__copyright {
    margin-bottom: 23px;
  }

  .basement__contacts_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 44px;
  }

  .basement__contact:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: 30%;
  }

  .arrange {
    border-color: #F1F8FE;
    padding: 60px 0 10px 0;
  }

  .arrange__header {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 40px;
  }

  .switch {
    margin-bottom: 12px;
  }

  .switch__index {
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 1.5;
  }

  .switch__index::after {
    width: 44px;
    height: 44px;
  }

  .switch__description {
    display: none;
  }

  .step {
    height: 270px;
  }

  .step__wrapper {
    padding: 24px 19px 50px 18px;
  }

  .step__img {
    display: none;
  }

  .step__content {
    margin-top: 0;
  }

  .step__header {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .step__text {
    font-size: 16px;
    line-height: 1.375;
    opacity: 0.7;
  }

  .greencard {
    padding: 31px 0;
  }

  .greencard__wrapper {
    padding: 24px 24px 36px;
  }

  .greencard__header {
    padding: 0px;
    padding-bottom: 24px;
    font-size: 32px;
    line-height: 1.09375;
  }

  .greencard__content {
    padding: 0;
    padding-top: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .greencard__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .greencard__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .greencard__item:last-child {
    margin-top: 7px;
  }

  .greencard__button {
    margin-top: 26px;
    padding: 15px 45px;
  }

  .offer {
    padding: 36px 0 38px;
  }

  .offer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 328px;
  }

  .offer__sense {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .offer__text {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .offer__header {
    font-size: 26px;
    line-height: 0.8461538462;
    margin-bottom: 5px;
  }

  .sorting__item {
    padding: 12px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    width: 109px;
  }

  .sorting__item > button > span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    max-height: 46px;
  }

  .sorting__item_active {
    min-width: 0;
    width: 109px;
  }

  .proposals {
    padding: 0;
  }

  .proposals__item:first-child {
    padding-top: 40px;
  }

  .proposals__item:last-child {
    padding-bottom: 40px;
  }

  .proposals__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .proposals__wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .proposal {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin: 0;
    padding: 20px 25px 32px;
    grid-template-areas: "logo title_rating" "logo stars" "title_name title_name" "name name" "title_franchise title_price" "sum price" "button button";
    grid-template-columns: 53% 47%;
  }

  .proposal__logo {
    margin-bottom: 26px;
  }

  .proposal__vuso {
    background-size: contain;
    width: 98px;
    height: 24px;
  }

  .proposal__upsk {
    background-size: contain;
    width: 113px;
    height: 27px;
  }

  .proposal__asko {
    background-size: contain;
    width: 94px;
    height: 24px;
  }

  .proposal__oranta {
    width: 86px;
    height: 32px;
    background-size: contain;
  }

  .proposal__title {
    display: inline-block;
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 1.6428571429;
    color: #001237;
    opacity: 0.5;
    margin-bottom: 5px;
  }

  .proposal__stars {
    margin-bottom: 23px;
  }

  .proposal__name {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 1.0625;
    font-weight: 600;
  }

  .proposal__sum {
    margin-bottom: 32px;
  }

  .proposal__price {
    margin-bottom: 32px;
    margin-left: 0;
  }

  .proposal__price_old {
    bottom: -100%;
  }

  .proposal__button {
    max-width: 277px;
  }

  .callback {
    background-color: #FFFFFF;
    padding: 40px 0 0;
  }

  .callback__header {
    font-size: 32px;
    line-height: 1.09375;
    margin-bottom: 32px;
  }

  .feed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feed__form {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .feedback__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .feedback__item textarea {
    height: 124px;
  }

  .feedback__person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feedback__person input {
    width: 100%;
  }

  .feedback__sender:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .feedback__btn {
    width: 100%;
    max-height: 52px;
    font-size: 12px;
    line-height: 1;
    margin-top: 32px;
  }

  .instruction {
    width: 100%;
    height: 100%;
    background-image: none;
  }

  .instruction__wrapper {
    padding: 32px 10px 32px 16px;
  }

  .instruction__header {
    font-size: 26px;
    line-height: 1.1923076923;
    margin-bottom: 24px;
  }

  .instruction__item {
    font-size: 18px;
    line-height: 1;
  }

  .instruction__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .instruction__item::before {
    top: 8px;
    left: 0;
  }

  .about {
    padding-top: 40px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__content {
    margin-bottom: 32px;
  }

  .about__img {
    width: 100%;
    height: 200px;
  }

  .introduction__header {
    font-size: 32px;
    line-height: 1.09375;
    margin-bottom: 16px;
  }

  .introduction__text {
    font-size: 16px;
    line-height: 1.5;
  }

  .insurances {
    padding: 60px 0;
  }

  .insurances__header {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .belay__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 25px;
  }

  .belay__wrapper {
    width: 328px;
    height: 182px;
    background-size: 328px 182px;
  }

  .belay__name {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .belay__gradient {
    height: 109px;
  }
}