.confirence {
  @media screen and (max-width: $tablet) {
    padding-bottom: 40px;
  }
  &__swiper {
    max-width: 1210px;
    padding: 40px 35px 50px 47px;
    padding-top: 40px;
    overflow: hidden;
    @media screen and (max-width: $tablet) {
      padding: 30px 0px 18px 0px;
    }
  }

  &__container{
    max-width: 1610px;
    padding-left: 40px;
  }

  &__navigation {
    width: 320px;
    padding-top: 40px;
    @media screen and (max-width: $tablet) {
      padding-top: 0;
    }
  }

  &__header {
    color: $blue-dark;
    margin-bottom: 106px;
    line-height: 56px;
    @media screen and (max-width: $tablet) {
      @include font(26px, 26px);
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    margin-left: 2px;
    @media screen and (max-width: $tablet) {
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      padding: 60px 0;
      position: relative;
    }
  }
}

.controller{
  &__btn{
    background-color: $blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.review {
  width: 360px;
  height: 320px;
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  border-radius: 10px;
  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 360px;
    height: 322px;
  }

  &__card {
    padding: 27px 30px 44px 26px;
    @media screen and (max-width: $tablet) {
      padding: 27px 22px 44px 18px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  &__star {
    &:not(:last-child){
      margin-right: 5px;
    }
  }

  &__text {
    font-family: $font-main;
    font-weight: normal;
    @include font(16px, 23px);
    color: $gray-blue;
    opacity: 0.8;
    margin-bottom: 38px;
  }
}

.author {
  display: flex;

  &__photo {
    margin-right: 30px;
  }

  &__info {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
  }

  &__name {
    color: $gray-blue;
    @include font(20px, 24px);
    font-family: $font-main;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__time {
    font-family: $font-main;
    font-weight: 400;
    @include font(14px, 20px);
    color: #C0C2C3;
  }
}