.footer {
  background-color: $blue-pale;
  padding-top: 80px;
  padding-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-direction: column;    
    align-items: center;
    border-bottom: 1px solid $gray;
  }

  &__logotype {
    margin-bottom: 60px;
  }

  &__navigation {
    margin-bottom: 52px;
  }
}

.navigation {

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 34px;
  }

  &__link {
    color:$blue-dark;
    text-transform: uppercase;
    font-family: $font-main;
    @include font(16px, 20px);
    font-weight: 600;
    letter-spacing: 0.08em;
    &:hover{
      border-bottom: 1px solid $blue-dark;
    }
  }
}

.basement {
  padding-top: 45px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    margin-top: -6px;
    font-family: $font-main;
    @include font(14px, 24px);
    color: $blue-dark;
  }

  &__contacts {
    margin-top: -12px;
    margin-left: 105px;
    display: flex;
    align-items: center;
  }

  &__contact {
    &:not(:last-child){
      margin-right: 36px;
    }
    
  }

  &__link {
    display: flex;
    align-items: center;    
    >svg {
      margin-right: 8px;    
      &:hover {
        fill: $marine;
      }
    }
    color: $blue-dark;
    font-family: $font-main;
    font-weight: normal;
    @include font(18px, 22px);
  }

  &__dev{
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: $font-main;
    font-weight: normal;
    @include font(14px, 23px);
    opacity: 0.9;
    color: $gray-dark;
    margin-right: 10px;
  }

  &__developer>svg:hover{
    fill: $marine;
  }
}