.footer {
  background-color: $blue-pale;
  padding-top: 80px;
  padding-bottom: 50px;

  @media screen and (max-width: 375px){
    padding-top: 50px;
    padding-bottom: 54px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;    
    align-items: center;
    border-bottom: 1px solid $gray;
    
  }

  &__logotype {
    margin-bottom: 60px;
    @media screen and (max-width: 375px) {
      >img{
        width: 185px;
        height: 41px;
      }      
      margin-bottom: 44x;
    }
  }

  &__navigation {
    margin-bottom: 52px;
    @media screen and (max-width: 375px) {
      margin-bottom: 44px;
    }
  }
}

.navigation {

  &__list {
    display: flex;
    @media screen and (max-width: 375px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 34px;
    @media screen and (max-width: 375px) {
      margin-right: 0;
      margin-bottom: 27px;
    }
  }

  &__link {
    color:$blue-dark;
    text-transform: uppercase;
    font-family: $font-main;
    @include font(16px, 20px);
    font-weight: 600;
    letter-spacing: 0.08em;
    margin-bottom: 60px;
    &:hover{
      border-bottom: 1px solid $blue-dark;
    }

    @media screen and (max-width: 375px) {
      @include font(14px, 17px);
    }
  }
}

.basement {
  padding-top: 45px;
  @media screen and (max-width: 375px) {
    display: none;
  }
  &_mobile{
    display: none;
    @media screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
      padding-top: 42px;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    margin-top: -6px;
    font-family: $font-main;
    @include font(14px, 24px);
    color: $blue-dark;
    opacity: 0.8;
    @media screen and (max-width: 375px) {
      margin-bottom: 23px;
    }
  }

  &__contacts {
    margin-top: -12px;
    margin-left: 105px;
    display: flex;
    align-items: center;
    &_mobile{
      display: none;
      @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;
      }
    }
  }

  &__contact {
    &:not(:last-child){
      margin-right: 36px;
      @media screen and (max-width: 375px) {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
    
  }

  &__link {
    display: flex;
    align-items: center;    
    >svg {
      margin-right: 8px;    
      &:hover {
        fill: $marine;
      }
    }
    color: $blue-dark;
    font-family: $font-main;
    font-weight: normal;
    @include font(18px, 22px);
  }

  &__dev{
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: $font-main;
    font-weight: normal;
    @include font(14px, 23px);
    opacity: 0.9;
    color: $gray-dark;
    margin-right: 10px;
  }

  &__developer>svg:hover{
    fill: $marine;
  }
}