html,
body{
  height: 100%;
}

body{
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main{
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container{
  max-width: 1560px;
  margin:  0 auto;
  padding: 0 15px;
  overflow: hidden;
  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }
}

.heading {
  font-family: $font-main;
  font-weight: 700;
  @include font(46px, 50px);
}

.btn {
  border-radius: 50px;
  cursor: pointer;
  @include font(16px, 16px);
  font-family: $font-main;
  font-weight: 600;
  letter-spacing: 0.08em;

  >span {
    text-transform: uppercase;
  }
}