.header {
  border-bottom: 1px solid #D7E1E9;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
  }

  &__nav {
    margin-left: 80px;
  }

  &__btn {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    padding: 18px 40px;
    &:hover{
      background-color: $blue-active;
      border-color: $blue-active;
    }
  }
}

.nav {

  &__list {
    display: flex;
  }

  &__item {
    margin-top: 5px;
    display: flex;
    &:not(:last-child){
      margin-right: 39px;
    }
    
  }

  &__link {
    color: $blue-dark;
    font-weight: 400;
    font-family: $font-main;
    @include font(16px, 19.49px);
    position: relative;
    &:hover {
      &::after {
        height: 1px;
        width: 100%;
        content: '';
        position: absolute;
        background-color: $blue;
        left: 0;
        bottom: -2px;
      }
    }    
  }
}