.description {
  padding-bottom: 90px;

  &__container {
    padding-right: 10px;
    max-width: 1300px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 70px;
      width: 97%;
      background: linear-gradient(360deg, #FFFFFF 28.73%, rgba(255, 255, 255, 0) 100%);
      bottom: 0;
      left: 0;
    }
  }

  &__header {
    font-family: $font-main;
    font-weight: 700;
    @include font(36px, 44px);
    color: $blue-dark;
    margin-bottom: 15px;
  }

  &__content {
    max-width: 1274px;
    max-height: 235px;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border: 4px solid $white;
      width: 2px;
      background-color: #F3F4F5;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #265FD1;
      border-radius: 5px;
    }    
  }

  &__text {
    margin-right: 25px;
    color: $gray-blue;
    font-family: $font-main;
    font-weight: 400;
    @include font(16px, 23px);
    opacity: 0.8;
    &:not(:last-child){
      margin-bottom: 25px;
    }
  }
}
