.swiper-pagination-progressbar{
  position: absolute;
  max-width: 100%;
  background-color: #C0C2C3;
}
.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal{
  height: 1px;
  left: 0;
  top: 35%;
  @media screen and (max-width: $tablet) {
    top: 30%;
  }
}
:root {
  --swiper-theme-color: #4268B2;
}
.swiper-slide{
  padding-bottom: 50px;
}


.arrange {
  background-color: #F8FBFE;
  padding: 90px 0 50px 0;
  position: relative;
  @media screen and (max-width: $tablet) {
    border-color: $blue-pale;
    padding: 60px 0 10px 0;
  }

  &__header {
    text-align: center;
    color: $blue-dark;
    margin-bottom: 75px;
    @include font(46px, 56px);
    @media screen and (max-width: $tablet) {
      @include font(26px, 26px);
      margin-bottom: 40px;
    }
  }
}

.swiper {

  &__nav {
    position: relative;
  }
}

.switch {
  margin-bottom: 80px;
  @media screen and (max-width: $tablet) {
    margin-bottom: 12px;
  }

  &__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width:824px;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_active {
      >span.switch__index{
        background-color: #4268B2;
        &::after {
          background-color: rgba(66, 104, 178, 0.15);
        }
        &:hover{
          background-color: #4268B2;
          color: #F6F6F6;
        }
      }
      >span.switch__description{
        color: $gray-blue;
      }
    }
  }

  &__index {
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #F6F6F6;
    @include font(24px, 36px);
    background-color: #C0C2C3;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-bottom: 22px;
    @media screen and (max-width: $tablet) {
      width: 34px;
      height: 34px;
      @include font(18px, 27px);
      &::after{
        width: 44px;
        height: 44px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      width: 56px;
      height: 56px;
      background-color: rgba(192, 194, 195, 0.15);
      border-radius: 50%;
      z-index: 1;
    }
    &:hover{
      background-color: $white;
      color: $blue;
      cursor: pointer;
    }
  }

  &__description {
    min-width: 230px;
    position: absolute;
    color: #9E9E9E;
    font-family: $font-main;
    font-weight: 600;
    @include font(16px, 26px);
    bottom: -25px;
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
}

.step {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
  margin: 0 auto;
  max-width: 1050px;
  height: 242px;
  background-color: $white;
  @media screen and (max-width: $tablet) {
    height: 270px;
  }
  

  &__wrapper {
    padding-right: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $tablet) {
      padding: 24px 19px 50px 18px;
    }
  }

  &__img{
    height: 162px;
    background: url('../icons/Intersect_opacity.svg') no-repeat;
    background-position: 20% 70%;
    padding: 32px 90px 40px 90px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 40px;
    margin-top: 8px;
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &__content {
    margin-top: -12px;
    max-width: 570px;
    @media screen and (max-width: $tablet) {
      margin-top: 0;
    }
  }

  &__header {
    font-family: $font-main;
    font-weight: 700;
    @include font(30px, 39px);
    color: $blue-dark;
    margin-bottom: 17px;
    @media screen and (max-width: $tablet) {
      @include font(20px, 26px);
      margin-bottom: 10px;
    }
  }

  &__text {
    color: #000;
    font-family: $font-main;
    font-weight: normal;
    @include font(16px, 27px);
    opacity: 0.8;
    @media screen and (max-width: $tablet) {
      @include font(16px, 22px);
      opacity: 0.7;
    }
  }
}