.description {
  padding-bottom: 125px;
  @media screen and (max-width: $tablet) {
    padding-bottom: 50px;
  }

  &__container {
    padding-right: 10px;
    max-width: 1300px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 70px;
      width: 97%;
      background: linear-gradient(360deg, #FFFFFF 28.73%, rgba(255, 255, 255, 0) 100%);
      bottom: 0;
      left: 0;
      @media screen and (max-width: $tablet) {
        width: 92%;
        height: 41px;
      }
    }
  }

  &__wrapper{
    position: relative;
  }

  &__header {
    font-family: $font-main;
    font-weight: 700;
    @include font(36px, 44px);
    color: $blue-dark;
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    background-color: #fff;
    z-index: 10;
    @media screen and (max-width: $tablet) {
      @include font(20px, 24px);
    }
  }

  &__content {
    margin-top: 20px;
    max-width: 1274px;
    max-height: 235px;
    overflow-y: scroll;
    position: relative;
    @media screen and (max-width: $tablet) {
      margin-top: 24px;
      max-height: 185px;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border: 4px solid $white;
      width: 2px;
      background-color: #F3F4F5;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #265FD1;
      border-radius: 5px;
    }    
  }

  &__text {
    &:first-child{
      padding-top: 40px;
    }
    margin-right: 25px;
    color: $gray-blue;
    font-family: $font-main;
    font-weight: 400;
    @include font(16px, 23px);
    opacity: 0.8;
    &:not(:last-child){
      margin-bottom: 25px;
    }
    @media screen and (max-width: $tablet) {
      margin-right: 20px;
      &:first-child {
        padding-top: 10px;
      }
    }
  } 
  
}
