.insurance {
  padding: 100px 0px 80px 0;

  &__container{
    overflow: visible;
  }

  &__inner {
    background-color: #072D85;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 46px rgba(123, 139, 181, 0.22));
    display: flex;
    max-height: 520px;
  }

  &__image {
    background: url('../icons/Intersect.svg') no-repeat;
    background-position: 72% 40%;
    align-self: flex-end;
  }

  &__content {
    padding: 75px 0;
  }
}

.action-plan {
  display: flex;
  flex-direction: column;
  max-width: 710px;
  margin-left: 12px;
  align-items: flex-start;

  &__header {
    margin-bottom: 32px;    
    color: $white;
    margin-top: 5px;
  }

  &__list {
    margin-bottom: 50px;
  }

  &__item {
    margin-left: 5px;
    padding-left: 42px;
    background: url('../icons/shield.svg') no-repeat;
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }

  &__text{
    color: $white;
    font-family: $font-main;
    font-weight: 400;
    @include font(24px, 24px);
  }

  &__button {
    align-self: flex-start;
    background-color: #2463F6;
    color: $white;
    font-family: $font-main;
    font-weight: 600;
    @include font(16px, 16px);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 27px 70px;
    &:hover{
      background-color: $blue-active;
    }
  }
}